<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/profile">Profile</a>
        <a class="nav-item nav-link" *ngIf="true" routerLink="/admin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://lusoalex.github.io/#talks" target="_blank">Securing you API - From basics to beyond</a>
    </p>
    <p>
        <a href="https://alexandrefaria.net" target="_blank">AlexandreFaria.net</a>
    </p>
</div>