<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Hack logo, license=https://en.wikipedia.org/wiki/Creative_Commons, original picture=https://commons.wikimedia.org/wiki/File:Hack.png" src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Hack.png">
    <br>
    <h2>header: </h2><h3>{{header}}</h3>
    <br>
    <h2>payload: </h2><h3>{{payload}}</h3>
</div>


<router-outlet></router-outlet>
